<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escapevelocityfromearth2.shohosan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ScheduleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckActivity"
            android:exported="true"
            android:label="薬飲む"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmActivity" />

        <service
            android:name=".VoiceActionService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/voice_action_service" />
        </service>

        <activity android:name=".AlarmResultActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Clear"
            android:screenOrientation="portrait" />
    </application>

</manifest>